.user-container{
 width:70%;
 margin-top: 20px;
 margin-left: 0px;
 margin-right: px;
 border-right: 1px solid;
 background-color:slategray;
}
.cart-container{
background-color: teal;
width: 30%;
margin-top:20px;



}
.main-container{
   display: flex;
   background-color:blue;

}
.div-cart{

margin-top: 150px;}