.display-container{
width:50%;
margin: auto;
margin-top: 20px;
border: 1px solid yellow;
background-color:burlywood;
border-radius:10px ;

}
.user-components img{
 width:150px;
 height: 200px;
 margin-top: 10px;
 border-radius: 50%;
}
.user-address{

color: white;
font-size: medium;
font-weight: 700;
margin: auto;
}
.btn-user{


background-color: #f0c14b;
border-color:#a88734 #9c7e31 #846a29 ;
width:150px;
height: 30px;
color:black;
border-radius: 5px;
cursor: pointer;
vertical-align: middle;
margin-bottom: 10px;

}